* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #cpu, #memory, #wireplumber, #custom-bluetooth, #custom-network, #custom-vpn, #tray, #mode {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    font-weight: bold;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
}

#memory {
}

#custom-network {
}

#custom-network.disconnected {
    background: #f53c3c;
}

#wireplumber {
}

#wireplumber.muted {
}

#tray {
}

